/* Card.css */

/* Contenedor general de la tarjeta */
.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  max-width: 350px; /* Tamaño máximo para la tarjeta */
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
  
  /* Imagen cuadrada con bordes redondeados */
.card-image {
  width: 100%;
  height: 0;
  object-fit: cover;
  border-radius: 8px 8px 0 0; /* Borde redondeado en la parte superior */
}

/* Contenedor para el texto (título y subtítulo) */
.card-content {
  padding: 15px;
  text-align: left;
}

/* Título en negrita */
.card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 8px 0;
  color: #333;
}

/* Subtítulo debajo del título */
.card-subtitle {
  font-size: 13px;
  color: #666;
  margin: 0;
}

.card-image {
  width: 100%;
  height: auto; /* Asegura que la imagen mantenga su relación de aspecto */
  object-fit: cover; /* Ajusta cómo la imagen se redimensiona para llenar el contenedor */
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.dark-mode .card {
  background-color: #1f1d1d;
  color: #fff;
}

.dark-mode .card-subtitle {
  color: #fff;
}

.dark-mode .card-title {
  color: #fff;
}
