h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
}

.images-ballbylon {
    display: flex;
    justify-content: center;
    align-items: center;        
    gap: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.images-ballbylon img {
    max-width: 300px;
    border-radius: 15px;
}