/* Estilo para la sección de Works */
.works-section {
    text-align: left;
  }
  
  .works-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .works-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Siempre dos columnas */
    gap: 20px;
    justify-content: center; /* Centra el contenido horizontalmente */
    justify-items: center; /* Centra las tarjetas en cada celda */
    align-items: center;
    max-width: 600px; /* Limita el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
  }
  
  @media (max-width: 768px) {
    .works-cards-container {
      grid-template-columns: 1fr; /* Cambia a una columna en dispositivos móviles */
    }
  }