/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Reseteo básico para tener una base limpia */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplica un margen pronunciado a los lados */
body {
  font-family: Inter, sans-serif;
  background-color: #f5f5f5; /* Color de fondo opcional */
  margin: 0;
  padding: 0;
}

/* Contenedor general que aplicará los márgenes laterales */
.container {
  max-width: 700px; /* Cambia el ancho máximo según prefieras */
  margin: 0 auto;
}

.dark-mode body {
  background-color: #1f1d1d;
  color: #fff;
}
